<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wildfire Visualizations</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      #menu {
        position: absolute;
        background: #efefef;
        padding: 10px;
        font-family: "Open Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <div id="menu">
      <!-- Radio buttons for selecting different data sets -->
      <input
        id="2000-2004"
        type="radio"
        name="rtoggle"
        value="2000-2004"
        checked="checked"
      />
      <label for="2000-2004">2000-2004</label>
      <input id="2005-2009" type="radio" name="rtoggle" value="2005-2009" />
      <label for="2005-2009">2005-2009</label>
      <input id="2010-2015" type="radio" name="rtoggle" value="2010-2015" />
      <label for="2010-2015">2010-2015</label>
      <!-- Scale slider -->
      <input id="scale" type="range" min="1" max="7000" value="500" />
      <label for="scale">Number of Fires to Display (0 - 7,000)</label>
    </div>

    <script type="text/javascript" src="/static/js/heatmap.js"></script>
  </body>
</html>
